<div id="main_box">
    <a href="#/preview" class="btn btn-success" ng-bind="statusButtonTitle"></a>
    <br />
    <button type="button"  ng-click="openPopUpBox()" class="btn btn-default add-btn">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="form-content">
        <div class="item-div" ng-repeat="item in items">
            <label class="item-label">{{item.type}} </label>
            <span class="item-text">{{item.text}}</span>
            <a href="javascript:;" class="item-temove" ng-click="removeItem(item.id)">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
        </div>
    </div>
</div>
<div id="pop_up_box" ng-show="hasPopUpBox">
    <h1>选择添加类型</h1>
    <div class="form-group">
        <label class="radio-inline" for="text">
            <input id="text" name="input-type" type="radio" value="text">文本
        </label><br>
        <label class="radio-inline" for="date">
            <input id="date" name="input-type" type="radio" value="date" checked>日期
        </label>
    </div>
    <button type="button" class="btn btn-sm btn-default" ng-click="closePopUpBox()"> 关闭</button>
    <button type="button" class="btn btn-sm btn-warning" ng-click="addItem()"> 添加</button>
</div>